.header{
    &.header--global-header{
        position: relative;
        .nav--horizontal{
            text-align: right;
            ul{
                li{
                    margin-right: 10px;
                }
            }
        }
    }
}

.nav{
    &.nav--horizontal{
        ul{
            li{
                display: inline-block;
            }
        }
    }
    ul{
        li{
            list-style: none;
        }
    }
}

form{
    .textfield.textfield--hidden{
        display: none;
    }
    label.label--block{
        display: block;
    }

    .form__tooltip{
        display: none;
    }
    .form__tooltip.form__tooltip--active{
        display: block;
        .form__tooltip__msg{
            padding: 8px 10px;
            border-radius: 8px;
            display: none;
            background-color: #92C9FF;
        }
        .form__tooltip__msg.form__tooltip__msg__error{
            background-color: #FF404A;
        }
        &.form__tooltip__error--too-short{
            .form__tooltip__msg__error--too-short{
                display: inline-block;
                background-color: #8FD16F;
            }
        }
        &.form__tooltip__error--taken{
            .form__tooltip__msg__error--taken{
                display: inline-block;
            }
        }
        &.form__tooltip__submission--success{
            .form__tooltip__msg__submission--success{
                display: inline-block;
            }
        }
        &.form__tooltip__submission--failed{
            .form__tooltip__msg__submission--failed{
                display: inline-block;
                background-color: #FF404A;
            }
        }
    }

}
